terraform/*.tfstate
terraform/*.tfstate.backup
terraform/.terraform.lock.hcl
terraform/terraform.tfvars
terraform/.terraform

*.lock

rds/credentials/*.pem
rds/csv_data
rds/*.sqlite
rds/.env

airflow/scripts/.env
airflow/dags/.env
airflow/config/

aws/

logs/

airflow/dag/.env

scripts/.env